textarea[name="user-input"]{ 

    display: block;
    margin: auto;
    border: 1.5px solid #cd6688;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 50%;
}


.listado {

    display: inline-block;
    padding: 5px;
    border: 2px solid #7A316F;
    border-radius: 8px;
    color:antiquewhite;
   
   
    
}
#reset-button{

    background-color: #cd6688;
    color: white;
    border: 2px solid #7A316F;
    padding: 10px 20px;
    display: block;
    margin: auto;

}

#reset-button:hover{
background-color: #7A316F;
}

footer{
    display: flex;
    color: azure;
    display: flex;
    justify-content: center;
}

header{
    text-align: center;
    color: beige;
   
}

img {
    background:  url(https://img.freepik.com/free-vector/blue-neon-frame-dark-background_53876-113902.jpg?w=1060&t=st=1690319265~exp=1690319865~hmac=75c67fb81982f63f48d9128035cc4fd78faa8ea58c8cc14810de089ca7d15115);
    text-align: center;
    width: 50px;   
    height: 60px;
    padding: auto;
    }

